body {
    font-family: "Open Sans", sans-serif;
    display: grid;
    grid-template-rows: 20% 80%;
    /* font-size: 16px; */
    /* padding: 40px; */

}
.page-body{
    display: grid;
    grid-template-columns: 60% 40%;
}

.state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 0.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

h1 {
    font-size: 3em;
    font-weight: 700;
    color: #0099FF !important;
}

state {
    font-size: 3em;
    font-weight: 700;
    color: #0099FF
}
.state-selected {
    fill: rgb(84,36,55) !important;
}
/* On mouse hover, lighten state color */
path:hover {
	fill-opacity: .7;
}

/* Style for Custom Tooltip */
.tooltip {   
    visibility: hidden;       
}

tooltip {
    display: flex;
    flex-flow: column;
}
        
/* Legend Font Style
body {
	font: 11px sans-serif;
} */

div.tooltip_scatter {
    position: absolute;
    text-align: left;
    width: auto;
    height: auto;
    padding: 6px;
    font: 12px sans-serif;
    /* background: lightsteelblue; */
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
  }